@{
	Layout = "Layout.cshtml";
}

<div class="row">
	<div id="left" class="col-md-2">
		left
	</div>
	<div id="right" class="col-md-10">
		<table class="table table-bordered" id="timetable">
			<thead>
				<tr>
					<th class="time">시간</th>
					@foreach (var day in @Model.DateList)
					{
					<th>@day.Date.ToString(@"M\/d") (@day.DayKr)</th>
					}
				</tr>
			</thead>
			<tbody>
				@for (int time = 9; time <= 17; time++)
				{
				<tr>
					<td class="time">@(time <= 12? time: time % 12)</td>
					@foreach (var day in @Model.DateList)
					{
					var date8 = day.Date.ToString("yyyyMMdd");
					@if (@time==12)
					{
					<td>점심시간</td>
					}
					else
					{
					<td id="cell-@date8-@time" data-date="@date8" data-time='@time' ondrop="drop(event)" ondragover="allowDrop(event, @date8, @time)">
						<button id="plus-button-@date8-@time" type="button" class="btn btn-add-schedule">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</td>
					}
					}
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<div id="modal-add-schedule" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">일정 추가</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="add-date" class="col-sm-3 control-label">날짜</label>
						<div class="col-sm-7">
							<input type="text" id="add-date" value="" class="form-control" disabled="disabled">
						</div>
					</div>
					<div class="form-group">
						<label for="add-start-time" class="col-sm-3 control-label">시작시각</label>
						<div class="col-sm-7">
							<input type="text" id="add-start-time" class="form-control" disabled="disabled">
						</div>
					</div>
					<div class="form-group">
						<label for="add-duration" class="col-sm-3 control-label">소요시간</label>
						<div class="col-sm-7">
							<input type="number" id="add-duration" value="1" class="form-control" min="1" max="8">
						</div>
					</div>
					<div class="form-group">
						<label for="add-title" class="col-sm-3 control-label">업무이름</label>
						<div class="col-sm-7">
							<input type="text" id="add-title" class="form-control">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="add-schedule" class="btn btn-success">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Css
{
<link href="/Static/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style type="text/css">
	#timetable th {
		text-align: center;
	}

		#timetable th.time {
			width: 60px;
		}

	#timetable td.time {
		text-align: center;
	}
</style>
}

@section Javascript
{
<script src="/Static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	var lastDragOverDateTime = '';
	$("nav.navbar").addClass("navbar-shrink");

	$('button.btn-add-schedule').click(function () {
		var addDate = $(this).parent().attr('data-date');
		var addTime = $(this).parent().attr('data-time');
		var displayTime = addTime <= 12 ? '오전 ' + addTime + ' 시' : '오후 ' + (addTime - 12) + ' 시';
		$('#add-date').val(addDate);
		$('#add-start-time').val(displayTime);
		$('#add-start-time').attr('data-start-time', addTime);
		$('#add-duration').val(1);
		$('#add-title').val('');
		$('#modal-add-schedule').modal('show');

		$('#add-title').focus();
	});

	$('button#add-schedule').click(function(){
		$('#modal-add-schedule').modal('hide');
		var date = $('#add-date').val();
		var startTime = parseInt($('#add-start-time').attr('data-start-time'));
		var duration = $('#add-duration').val();
		var title = $('#add-title').val();
		var color = 'orange';

		$.post('/schedule/add', {
			date: date,
			time: startTime,
			duration: duration,
			title: title
		}, function(json){
			alert(json);
			var data = JSON.parse(json);
			if (data.Result == 'success') {
				addSchedule(data.ScheduleId, date, startTime, duration, title, data.Color);
				$('#modal-add-schedule').modal('hide');
			} else {
				/// 스케쥴 추가를 실패했을 때
				alert('스케쥴이 겹칩니다.');
			}
		});

	});

	function addSchedule(scheduleId, date, startTime, duration, title, color){
		var containLunch = false;
		for (var i = 0; i < duration; i++){
			if (startTime + i == 12)
				containLunch = true;
			var time = containLunch ? startTime + i + 1 : startTime + i;
			addScheduleToCell(scheduleId, date, time, title, color);
		}
	}

	function addScheduleToCell(scheduleId, date, time, title, color){
		var div = document.createElement('div');
		$(div).text(title);
		$(div).attr({'draggable': 'true', 'ondragstart': 'drag(event, ' + scheduleId + ')'});
		$(div).attr({
			'data-id': scheduleId,
		});

		var cell = $('#cell-' + date + '-' + time);
		$(cell).css('background-color', color);
		$(cell).empty();
		$(cell).append(div);
	}

	function removeScheduleById(scheduleId){

	}

	function allowDrop(ev, date, time) {
		ev.preventDefault();
		var dateTime = '' + date + '-' + time;
		if (lastDragOverDateTime == dateTime)
			return;

		lastDragOverDateTime = dateTime;
		$('#left').append(dateTime + '<br/>');
	}

	function drag(ev, scheduleId) {
		ev.dataTransfer.setData("scheduleId", scheduleId);
	}

	function drop(ev) {
		ev.preventDefault();
		var data = ev.dataTransfer.getData("text");
		ev.target.appendChild(document.getElementById(data));
	}
</script>
}
